.typewriter-container {
  align-self: center;
  height: 90%;
  width: 100%;
  max-width: 700px;
  min-width: 350px;
  border-width: 16px;
  border-style: solid;
  padding: 1rem;
  border-image: linear-gradient(172deg, #75887E 30%, #262626 30%) 1;
  }
  
.typewriter-container:hover {
  border-image: linear-gradient(352deg, #75887E 30%, #262626 30%) 1;
}